<ion-view title="Khám phá" ng-init="checkuser()">
  <ion-nav-buttons side="left" scroll="false" class="has-header">
    <button class="button button-icon icon ion-android-search" ng-click="shortFilter()"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" scroll="false" class="has-header">
    <button class="button button-icon icon ion-gear-a" ng-click="shortFilter()"></button>
  </ion-nav-buttons>

    <div ng-if="UserCard.length == 0" style="align-content: center">
      <p style="    margin: 20px;
    text-align: center;
    padding-top: 50px;
" class="ng-binding">Chúng tôi nghĩ rằng bạn xứng đáng tìm được công việc phù hợp nhất

      </p>
      <div class="padding">
        <button ui-sref="intro" class="button button-outline button-calm button-block">
          Tạo hồ sơ của bạn
        </button>
      </div>
    </div>

    <!-- *************************
          TD Cards
          - We start off with an ng-if so that the cards are not generated
            unless $scope.cards is not 'null'
        ************************* -->
    <div ng-if="UserCard" style="margin-top: -20px">
      <td-cards on-touch="onTouch()" on-release="onRelease()">
        <td-card ng-style="$index > 3 &&  {'display':'none'}" ng-repeat="card in UserCard"
                 on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft($index)"
                 on-swipe-right="cardSwipedRight($index)">
          <div class="image">
            <div class="no-text">XÓA</div>
            <div class="yes-text">TUYỂN</div>
            <!-- *************************
              Discard
              - The card is removed from the deck and a fly away animation is triggered.
              - onClickTransitionOut is found in ionic.tdcards.js
              - Animation can be customized by changing defaults
            ************************* -->
            <!-- <div class="discard" ng-click="onClickTransitionOut(card)">DISCARD</div> -->
            <img ng-src="{{ card.avatar || 'img/macdinh.jpg'}}"
                 ui-sref="viewprofile ({id:card.userId})">
            <div class="item">
              <h2>{{card.name}}</h2>
              <p>
                {{card.height ? card.height + " cm - "+ card.weight + ' kg': '' }}
                <!-- <i class="ion-ios-book color-coral font-150 pull-right"></i> -->
              </p>
              <div class="padding" ng-if="card.job">
                <label ng-repeat="(key,value) in card.job">
                  <button ng-click="applyThis(card.storeId,key)"
                          class="button margin-top-5 button-outline button-small {{selectedJob[card.storeId][key] ? 'button-positive' : 'button-outline' }}">
                    {{dataJob[key]}}
                  </button>
                </label>
              </div>
            </div>
          </div>
        </td-card>
        <!-- *************************
          End Card
          - 'drag' is set to false. The user cannot drag it.
          - 'refreshCards()' reloads all cards that have NOT been discarded.
        ************************* -->
        <td-card id="end-card" drag="false">
          <!--<div class="tinder-refresh-button" ng-click="refreshCards()"></div>-->
          <div class="disable-user-behavior">
            <!--<div class="tinder-refresh-button" ng-click="refreshCards()"></div>-->
          </div>
          <!--<i class="icon ion-ios-refresh disable-user-behavior" ng-click="refreshCards()"></i>-->
        </td-card>
      </td-cards>
    </div>

  </ion-content>
  <ion-footer-bar align-title="center" class="bar-light" style="padding: 0">
    <button ui-sref="signup ({id:2})" class="jobo-button jobo-button-block jobo-button-calm" style="width: 50%; margin: 0">
      Tìm việc
    </button>
    <button ui-sref="signup ({id:1})" class="jobo-button jobo-button-block button-primary" style="width: 50%; margin: 0">
      Tuyển dụng
    </button>
  </ion-footer-bar>
</ion-view>

