<ion-view title="Khám phá" id="page9" style="background-color:#F2F4F8;" hide-nav-bar="true" ng-init="checkuser()">
  <ion-header-bar align-title="center" class="bar-light">

    <div class="item-input-inset" style="width:100%">
      <label class="item-input-wrapper" style="height:23px">
        <i class="icon ion-search placeholder-icon"></i>
        <div class="form-group form-search" style="z-index: 200;position:fixed; width:260px;padding-left:15px;">
          <input type="text" placeholder="Nhập từ khóa tìm kiếm..." ng-model="searchName" ng-model-options="{debounce: 1000}"
                 ng-change="service.searchProfile(searchName)">
          <ul ng-show="searchName.length"
              style="background: white; color: #000; height: 300px; width:267.13px;
                      margin-top:300px; overflow-y: scroll;">
            <li ng-repeat="result in searchResults" style="display:block;clear: both">
              <div class="item item-avatar">
                <img src="{{result.avatar || '/img/macdinh.jpg'}}" class="img-avatar"
                     alt="admin@bootstrapmaster.com" style="border-radius: 50em;width:40px;height:40px;">
                <a href="#/view/{{result.storeId ? 'store':'profile'}}/{{result.userId||result.storeId}}"
                   class="text-truncate font-weight-bold"
                   style="font-size: 15px;">{{result.storeName || result.name}}</a><Br>
                <small style="color: black; font-size: 1em" ng-repeat="(key,value) in result.job" ng-show="result.job">
                  {{Lang[key] || 'Xem thêm'}}
                </small>
              </div>
            </li>
          </ul>
        </div>
      </label>
      <button ng-click="searchName = ''" class="button button-clear ion-android-close input-button" ng-show="searchName.length">
      </button>
    </div>

  </ion-header-bar>
  <ion-content>
    <div ng-if="!UserCard" style="align-content: center">
      <p style="    margin: 20px;
    text-align: center;
    padding-top: 50px;
" class="ng-binding">Chúng tôi nghĩ rằng bạn xứng đáng tìm được công việc phù hợp nhất

      </p>
      <div class="padding">
        <button ng-click="shortFilter()" class="button button-outline button-calm button-block">
          Tạo hồ sơ của bạn
        </button>
      </div>
    </div>

    <ks-swiper-container ng-if="UserCard" swiper="swiper" on-ready="onReadySwiper(swiper)" on-touch="onTouch(swiper)">
      <ks-swiper-slide class="swiper-slide" ng-repeat="card in UserCard">
        <div class="card">
          <div class="image">
            <img ng-src="{{ card.avatar || 'img/macdinh.jpg'}}"
                 ui-sref="viewprofile ({id:card.userId})">
            <div class="item">
              <h2>{{card.name}}, {{calculateAge(card.birth)}}</h2>
              <p>
                <span ng-repeat="(key,value) in card.job">{{Lang[key]}}, </span>
              </p>
            </div>
          </div>
        </div>
      </ks-swiper-slide>
    </ks-swiper-container>

  </ion-content>

  <ion-footer-bar align-title="center" class="bar-light" style="padding: 0">
    <button ui-sref="signup ({id:2})" class="jobo-button jobo-button-block jobo-button-calm"
            style="width: 50%; margin: 0">
      Tìm việc
    </button>
    <button ui-sref="signup ({id:1})" class="jobo-button jobo-button-block button-primary"
            style="width: 50%; margin: 0">
      Tuyển dụng
    </button>
  </ion-footer-bar>
</ion-view>

