<ion-view hide-back-button="false" title="Reset mật khẩu" hide-nav-bar="false" >
  <ion-content class="has-header">

	<form name="form_reset" ng-submit="doResetemail(userReset)" novalidate>
	  	<div class="list">

        <label class="item item-input" style="margin: 10px">
          <input type="email" ng-model="$parent.userReset.rusername" id="ruser_name" placeholder="Email">
        </label>


		</div>
		<div class="padding">
			<button type="submit" class="button button-block button-calm">Lấy lại mật khẩu</button>
		</div>
	 </form>

  </ion-content>
</ion-view>
