<ion-view title="Bảng giá" id="page21">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="pricing-card218">
      <ion-item class="item-icon-left calm" id="pricing-list-item56">
        <i class="icon ion-ios-plus-outline"></i>Gói thành viên</ion-item>
      <div class="item item-body" id="pricing-list-item-container20">
        <div id="pricing-markdown29" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Lượt
            <strong>Tuyển ứng viên</strong> không giới hạn</p>
        </div>
        <div id="pricing-markdown37" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Điểm
            <strong>Mở khóa liên hệ</strong> không giới hạn</p>
        </div>
        <div id="pricing-markdown30" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Tạo công việc không giới hạn</strong>
          </p>
        </div>
        <div id="pricing-markdown33" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Thêm huy hiệu
            <strong>Nhà tuyển dụng VIP</strong>, làm tăng độ tin cậy đối với ứng viên</p>
        </div>
      </div>
      <ion-item class="item-icon-left dark" id="pricing-list-item59">
        <i class="icon ion-pricetag"></i>{{vip.priceMonth}}.000đ/tháng</ion-item>
      <form id="pricing-form21" class="list">
        <ion-item class="range range-positive" id="pricing-range7">Tháng: {{vip.month}}
          <input type="range" value="12" min="0" max="12" step="3" ng-model="vip.month" ng-change="priceMonth(vip.month)">
        </ion-item>
      </form>
      <button ng-click="buy(vip)" id="pricing-button19" class="button button-positive  button-block icon ion-android-checkbox-outline"> Mua ngay!</button>
    </div>
  </ion-content>
</ion-view>
