<ion-view title="Cài đặt" id="page18" ng-init="init()">

  <ion-nav-buttons side="right" class="has-header">
    <button ng-click="submit()" class="button button-clear">Lưu</button>
  </ion-nav-buttons>

  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Thông tin liên hệ
      </div>
      <div class="profile-container">
        <img ng-click="updateavatar()" ng-src="{{userData.avatar}}" class="profile-image" width="100">
        <img
          ng-click="updateavatar()"
          ng-src="img/edit.png"
          class="profile-edit"
          width="30">
      </div>

      <div class="list form-modify">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Họ và tên</span>
          <input ng-model="userData.name" type="text" placeholder="">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Chức vụ</span>
          <input ng-model="userData.title" type="text">
        </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input ng-disabled="userData.email" ng-model="userData.email" type="email" placeholder="">
        </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Số điện thoại</span>
          <input ng-disabled="userData.phone" ng-model="userData.phone" type="number" placeholder="{{userData.phone}}">
        </label>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        Nhận thông báo mới khi
      </div>
      <ul class="list">
        <li class="item item-toggle">
          Tin nhắn mới
          <label class="toggle toggle-assertive">
            <input ng-model="userData.notiMes" type="checkbox">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
      </ul>
      <ul class="list">
        <li class="item item-toggle">
          Nhà tuyển dụng muốn tuyển bạn
          <label class="toggle toggle-assertive">
            <input ng-model="userData.notiInvite" type="checkbox">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
      </ul>
      <ul class="list">

        <li class="item item-toggle">
          Có nhà tuyển dụng tương hợp với bạn
          <label class="toggle toggle-assertive">
            <input ng-model="userData.notiMatch" type="checkbox">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
      </ul>
      <ul class="list">
        <li class="item item-toggle">
          Có công việc mới
          <label class="toggle toggle-assertive">
            <input ng-model="userData.notiJob" type="checkbox">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>


      </ul>
    </div>


    <p style="margin-top: 4px;">&nbsp;</p>
    <div class="padding color-gray">CONTACT US</div>
    <ion-item class="text-center" href="mailto:contact@joboapp.com">Help & Support</ion-item>
    <p style="margin-top: 4px;">&nbsp;</p>
    <ion-item class="text-center" href="mailto:contact@joboapp.com">Give Us Feedback</ion-item>

    <p style="margin-top: 4px;">&nbsp;</p>
    <ion-item class="text-center" ng-click="share()">Share Jobo</ion-item>

    <p style="margin-top: 4px;">&nbsp;</p>
    <div class="padding color-gray">Legal</div>
    <ion-item class="item-icon-right">
      Privacy Policy
      <i class="icon ion-ios-arrow-forward color-gray font-130 bold"></i>
    </ion-item>
    <ion-item class="item-icon-right">
      Terms of Service
      <i class="icon ion-ios-arrow-forward color-gray font-130 bold"></i>
    </ion-item>
    <ion-item class="item-icon-right ">
      Licenses
      <i class="icon ion-ios-arrow-forward color-gray font-130 bold"></i>
    </ion-item>
    <p style="margin-top: 4px;">&nbsp;</p>
    <ion-item ng-click="doLogout()" class="text-center">Logout</ion-item>

  </ion-content>
</ion-view>
