<ion-view hide-nav-bar="true" ng-init="init()">
  <ion-header-bar align-title="left" class="bar-light">

    <h1 class="title">{{storeData.storeName}}<small class="icon ion-arrow-down-b color-coral"></small>
    </h1>
    <a type="button" class="button button-outline button-small"  ng-click="openPopover($event)">
      Đổi Cửa Hàng
    </a>

  </ion-header-bar>
  <ion-content ng-init="init()">
    <div class="profile-container">
      <img ng-click="showProfile()" ng-src="{{storeData.avatar || 'img/store.png'}}" class="profile-image" width="100" height="100">

      <img
        ui-sref="store"
        ng-src="img/edit.png"
        class="profile-edit"
        width="30">
    </div>

    <div class="text-center padding" style="margin-top:22px;">

    </div>

    <ion-list class="text-center uppercase">
      <ion-item class="color-red" style="top: 30px;" ui-sref="store">
        Thay đổi thông tin tuyển dụng
      </ion-item>
      <ion-item class="color-red" style="top: 30px;" ui-sref="employer.setting">
        Cài đặt
      </ion-item>
      <ion-item class="color-pastel-blue" style="top: 30px;" ui-sref="pricing">
        Số dư hiện tại của bạn: <b>{{userData.credit || 0}}.000đ</b>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

