<ion-view title="Danh sách tương tác" id="page20" hide-back-button="true">
  <ion-content class="has-header" scroll="true">
    <div>
      <div class="item item-divider">
        Đã tương hợp
      </div>
      <div class="callout padding text-muted text-center" ng-show="reactList.match.length == 0">
        <small><b>Bạn chưa tương hợp với ứng viên nào</b>
        </small>
      </div>
      <ion-list id="match-list32" ng-repeat="card in reactList.match">
        <ion-item class="item-thumbnail-left item-icon-right" ng-click="service.chatToUser(card.userId)">
          <img src="{{card.userAvatar || '/img/macdinh.jpg'}}">
          <h2>{{card.userName}} <span class="ion-record color-green" style="font-size: xx-small" ng-if="card.presence == 'online'"></span>
          </h2>
          <small ng-hide="card.jobUser" class="text-muted">Đang tìm công việc bất kỳ</small>
          <small class="text-muted" ng-repeat="(key,value) in card.jobUser" ng-show="card.jobUser">
            {{dataJob[key]}}
          </small>
          <br>

          <small><b>{{service.timeAgo(card.matchAt || card.createdAt)}}</b></small>
        </ion-item>
      </ion-list>
    </div>
    <div>
      <div class="item item-divider">
        Đã ứng tuyển
      </div>
      <div class="callout padding text-muted text-center" ng-show="reactList.liked.length == 0">
        <small><b>Bạn chưa có ứng viên nào ứng tuyển</b>
        </small>
      </div>
      <ion-list id="match-list32" ng-repeat="card in reactList.liked">
        <ion-item class="item-thumbnail-left item-icon-right" ng-click="service.chatToUser(card.userId)">
          <img src="{{card.userAvatar || '/img/macdinh.jpg'}}">
          <h2>{{card.userName}} <span class="ion-record color-green" style="font-size: xx-small"
                                      ng-if="card.presence == 'online'"></span>
          </h2>
          <small ng-hide="card.jobUser" class="text-muted">Đang tìm công việc bất kỳ</small>
          <small class="text-muted" ng-repeat="(key,value) in card.jobUser" ng-show="card.jobUser">
            {{dataJob[key]}}
          </small>
          <br>

          <small><b>{{service.timeAgo(card.likeAt || card.createdAt)}}</b></small>
        </ion-item>
      </ion-list>
    </div>
    <div>
      <div class="item item-divider">
        Đã gửi yêu cầu
      </div>
      <div class="callout padding text-muted text-center" ng-show="reactList.like.length == 0">
        <small><b>Bạn chưa gửi yêu cầu cho ứng viên nào, hãy chủ động tìm họ</b>
        </small>
      </div>
      <ion-list id="match-list32" ng-repeat="card in reactList.like">
        <ion-item class="item-thumbnail-left item-icon-right" ng-click="service.chatToUser(card.userId)">
          <img src="{{card.userAvatar || '/img/macdinh.jpg'}}">
          <h2>{{card.userName}} <span class="ion-record color-green" style="font-size: xx-small"
                                      ng-if="card.presence == 'online'"></span>
          </h2>
          <small ng-hide="card.jobStore" class="text-muted">Đang tìm công việc bất kỳ</small>
          <small class="text-muted" ng-repeat="(key,value) in card.jobStore" ng-show="card.jobStore">
            {{dataJob[key]}}
          </small>
          <br>
          <small><b>{{service.timeAgo(card.likeAt || card.createdAt)}}</b></small>
        </ion-item>
      </ion-list>
    </div>
    <div>
      <div class="item item-divider">
        Đang tìm việc gấp
      </div>
      <div class="callout padding text-muted text-center" ng-show="onlineList.length == 0">
        <small><b>Không có ai</b>
        </small>
      </div>
      <ion-list id="match-list32" ng-repeat="card in onlineList">
        <ion-item class="item-thumbnail-left item-icon-right" ng-click="service.chatToUser(card.userId)">
          <img src="{{card.avatar || '/img/macdinh.jpg'}}">
          <h2>{{card.name || 'Your Name Here'}} <span class="ion-record color-green" style="font-size: xx-small"
                                                      ng-if="card.presence.status == 'online'"></span>
          </h2>
          <small ng-hide="card.job" class="text-muted">Đang tìm công việc bất kỳ</small>
          <small class="text-muted" ng-repeat="(key,value) in card.job" ng-show="card.job">
            {{dataJob[key]}}
          </small>
          <br>
          <small><b>{{service.timeAgo(card.presence.at)}}</b></small>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>

</ion-view>

