<ion-view title="Thông báo" id="page9" style="background-color:#FFFFFF;" hide-nav-bar="true" ng-init="init()">
  <ion-header-bar align-title="center" class="bar-light">

    <h1 class="title">Thông báo
    </h1>
  </ion-header-bar>

  <ion-content padding="false" class="has-header">
    <div class="card card-inverse card-danger" style="margin: 0" ng-if="!userData.mobileToken">
      <div class="card-block text-center"  style="padding: 0.25rem 1.25rem">

        <span>Bạn không thể sử dụng mọi tính năng nếu chưa xác nhận Email, hãy đảm bảo bạn đã kiểm tra hòm mail.</span>
        <button ng-click="service.sendVerifyEmail(userId)" class="button button-balanced" style="border-radius: 30px"><i

          aria-hidden="true" ></i> Gửi lại email cho tôi
        </button>
      </div>
    </div>
    <div class="card card-inverse card-danger" style="margin: 0" ng-if="!userData.webToken">
      <div class="card-block text-center"  style="padding: 0.25rem 1.25rem">
        <p>Để nhận thông báo khi có ứng viên ứng tuyển, hãy bật thông báo (Nếu bật thông báo, việc làm sẽ ưu tiên hiển thị hơn).</p>
        <button ng-click="service.saveWebToken()" class="button button-balanced" style="border-radius: 30px"><i
          aria-hidden="true" ></i> Bật thông báo
        </button>
      </div>
    </div>
    <div class="card card-inverse card-success" style="margin: 0" ng-if="!userData.firstFreeCredit">
      <div class="card-block text-center"  style="padding: 0.25rem 1.25rem">
        <h5>Nhận 500.000đ credit miễn phí và bắt đầu tuyển nhân viên</h5>
        <button ng-click="service.getFreeCredit()" class="button button-balanced" style="border-radius: 30px">
          <i aria-hidden="true" ></i> Nhận 500,000đ ngay!
        </button>
      </div>
    </div>
    <div ng-if="!notification" style="align-content: center" >
      <p style="margin: 20px;text-align: center;padding-top: 50px;" class="ng-binding" > Bạn chưa thông báo nào</p>
      <div class="padding">
        <button ui-sref="employer.dash" class="jobo-button jobo-button-block jobo-button-calm">
          Lọc ứng viên
        </button>
      </div>
    </div>
    <ion-list id="activity-list11" ng-repeat="(id,card) in notification | orderBy:'-createdAt'">
      <ion-item class="item-thumbnail-left item-icon-right" ng-click="service.readNoti(id,card)" href="#{{card.linktoaction}}">
        <img src="{{card.avatar || card.image || 'img/macdinh.jpg'}}">
        <i ng-hide="card.update" class="icon ion-ios-bolt pull-right"></i>
        <small class="pull-right text-muted" >{{service.timeAgo(card.createdAt)}}</small>
        <h2>{{card.title}}</h2>
        <small>{{card.body}}</small>
        <br>
        <button  class="button button-small button-light pull-right">
          {{card.calltoaction || 'Xem thêm'}}
        </button>
        <button class="button button-small button-clear button-positive" ng-if="card.storeId">{{storeList[card.storeId].name}}
        </button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
