<ion-view title="Đăng ký" hide-nav-bar="true" hide-back-button="true" cache-view="false" nav-transition="none"
          id="page20">
  <ion-content scroll="true" class=" manual-remove-top-padding">

    <ion-slide-box show-pager="false" on-slide-changed="slideChanged(index)">
      <ion-slide>

        <form name="form_signup">
          <div class="padding">
            <div class="list">

              <label class="item item-input">
                <input type="text" ng-model="userSignup.phone" id="userSignup.phone" placeholder="Số điện thoại">
              </label>
              <label class="item item-input">
                <input type="email" ng-model="userSignup.username" id="cuser_name" placeholder="Email">
              </label>
              <label class="item item-input">
                <input type="password" ng-model="userSignup.password" id="cuser_pass" placeholder="Password">
              </label>

            </div>
            <button ng-click="doSignup(userSignup)" class="jobo-button jobo-button-block jobo-button-calm"
                    ng-disabled="!userSignup.username || userSignup.username === '' || !userSignup.password || userSignup.password === '' || !userSignup.phone || userSignup.phone === ''">
              Đăng ký
            </button>
          </div>

        </form>
        <button ng-click="facebookLogin()" class="jobo-button jobo-button-block jobo-button-calm"> facebookLogin
        </button>


      </ion-slide>
      <ion-slide>

        <div class="padding">

          <form name="form_signup" ng-submit="doUpdate(userSignup)" novalidate>
            <div class="list">
              <div style="text-align: center">
                <h3>SỐ ĐIỆN THOẠI</h3>
              </div>
              <label class="item item-input">
                <input type="tel" ng-model="userSignup.phone" placeholder="VD: 0968269860">
              </label>


            </div>
            <button type="submit" class="jobo-button jobo-button-block jobo-button-calm"
                    ng-disabled="!userSignup.phone || userSignup.phone === ''">Tiếp
            </button>
          </form>
        </div>
        <div class="list card" id="page3-card25">
          <div class="item item-body" id="page3-list-item-container18">
            <div id="page3-markdown20" style="text-align:center;" class="show-list-numbers-and-dots">
              <p style="margin-top:0px;">Tips: Điền chính xác số điện thoại để nhận thông báo
              </p>
            </div>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="padding">
          <div class="profile-container" style="margin-bottom: 30px">
            <img ng-click="updateavatar()" ng-src="{{avatarimage}}" class="profile-image" width="100">
          </div>

          <form id="thNgTinCNhN-form17" class="list">
            <ion-list id="thNgTinCNhN-list13">
              <ion-item class="item-divider" id="taocuahang2-list-item-divider9"> Trường đã / đang học</ion-item>
              <label ng-if="!school" class="item item-input" id="taocuahang-search3">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" ng-model="autocompleteSchool.text" placeholder="Vd: Đại học Mở Khoa Du lịch"
                       ng-change="searchSchool()">
              </label>
              <label ng-if="!school" class="checkbox-inline" ng-repeat="ketqua in ketquasSchool | limitTo:3 ">
                <ion-list>
                  <ion-radio ng-value="ketqua" ng-click="setSelectedSchool(ketqua)">{{ketqua.name}}
                  </ion-radio>
                </ion-list>
              </label>
            </ion-list>

            <div ng-if="school" class="item item-body" id="taocuahang-list-item-container10">
              <div id="taocuahang-markdown15" class="show-list-numbers-and-dots">
                <p style="margin-top:0px;color:#000000;">{{school.name}}
                </p>
              </div>
            </div>
            <ion-item class="item-divider" id="taocuahang2-list-item-divider9"> Năm sinh:</ion-item>
            <label class="item item-input" id="thNgTinCNhN-input12">
              <input type="number" ng-model="userInfo.birth" placeholder="VD: 1996">
            </label>
            <ion-item class="item-divider" id="taocuahang2-list-item-divider9"> Địa chỉ</ion-item>
            <label ng-if="!address" class="item item-input" id="taocuahang-search3">
              <i class="icon ion-search placeholder-icon"></i>
              <input type="search" ng-model="autocompleteAddress.text" placeholder="Vd: 51 Hàng Khay"
                     ng-change="searchAddress()">
            </label>
            <label ng-if="!address" class="checkbox-inline" ng-repeat="ketqua in ketquasAddress | limitTo:3 ">
              <ion-list>
                <ion-radio ng-value="ketqua" ng-click="setSelectedAddress(ketqua)">{{ketqua.formatted_address}}
                </ion-radio>
              </ion-list>
            </label>
            </ion-list>

            <div ng-if="address" class="item item-body" id="taocuahang-list-item-container10">
              <div id="taocuahang-markdown15" class="show-list-numbers-and-dots">
                <p style="margin-top:0px;color:#000000;">{{address.formatted_address}}
                </p>
              </div>
            </div>
            <ion-item class="item-divider" id="taocuahang2-list-item-divider9">Khác</ion-item>

            <label class="item item-select" id="job-select6">
              <span class="input-label">Giới tính</span>
              <select ng-model="userInfo.sex">
                <option ng-value="male">Nam</option>
                <option ng-value="female">Nữ</option>

              </select>
            </label>
            <ion-toggle ng-model="userInfo.figure" toggle-class="toggle-positive" id="job-toggle11">Ngoại hình ưu
              nhìn
            </ion-toggle>
            <ion-toggle ng-model="userInfo.experience" toggle-class="toggle-positive" id="job-toggle12">Đã có
              kinh nghiệm
            </ion-toggle>
            </ion-list>
            <button ng-click="saveInfo()" style="border-radius:0px 0px 0px 0px;"
                    class="button button-positive  button-block">Hoàn tất
            </button>

          </form>

        </div>
      </ion-slide>

      <ion-slide ng-init="loadautojob()">
        <ion-header-bar>
          <h1 class="title">Sở thích của bạn</h1>
        </ion-header-bar>
        <div class="padding">
          <div class="list card" id="profile-card215">
            <ion-item class="item-icon-left" id="profile-list-item34">
              <i class="icon ion-ios-briefcase"></i>Lựa chọn công việc
            </ion-item>
            <ion-item class="item-icon-right" ng-click="showjob()">
              <span class="gotham-book" ng-if="!newHospital.job">Nhấn để thêm công việc,</span>
              <span class="gotham-book" ng-repeat="(key,value) in newHospital.job">{{dataJob[key]}},</span>
              <i class="icon ion-ios-arrow-forward color-gray font-130 bold"></i>
            </ion-item>
          </div>
          <div class="list card" id="profile-card215">
            <ion-item class="item-icon-left" id="profile-list-item34">
              <i class="icon ion-ios-timer"></i>Thời gian đi làm phù hợp
            </ion-item>
            <a class="item item-icon-left" style="padding-left: 18px" ng-click="showShift()">
              <span class="gotham-book" ng-if="!newHospital.shift">Nhấn để thêm</span>
              <span class="gotham-book" ng-repeat="(key,value) in newHospital.shift ">{{time[key]}},</span>
            </a>

          </div>
          <div class="list card" id="profile-card216" drag-content="false">
            <ion-item class="item-icon-left" id="profile-list-item36">
              <i class="icon ion-android-bicycle"></i>Khoảng cách tới chỗ làm: {{newHospital.distance}} km
            </ion-item>
            <form id="profile-form11" class="list">
              <ion-item class="range range-positive" id="profile-range2">Km
                <input type="range" on-tap="onTap($event)" on-drag="onTap($event)" value="{{interest.distance}}"
                       min="0"
                       max="50" step="0.5" name="distance" ng-model="newHospital.distance">
              </ion-item>

            </form>
          </div>

          <button ng-click="createHospital()" class="jobo-button jobo-button-block jobo-button-calm">Tiếp
          </button>
        </div>

      </ion-slide>

      <ion-slide>
        <div class="padding" style="text-align: center">
          <h3>Bắt đầu lướt những công việc bạn thích</h3>
          <div style="margin: 30px">
            <img src="http://joboapp.com/wp-content/uploads/2016/12/Intro.jpg" style="width: 250px">
          </div>
          <p>
            Like công việc mà bạn thích.
          </p>
          <p>
            Và chờ nhà tuyển dụng like bạn.
          </p>
          <p>
            Vuốt sang phải để xem nhà tuyển dụng tiếp theo
          </p>
        </div>
        <button ui-sref="jobseeker.dash" class="jobo-button jobo-button-block jobo-button-calm">Khám phá ngay!</button>

      </ion-slide>

    </ion-slide-box>


  </ion-content>
</ion-view>
