<ion-modal-view>
  <ion-header-bar>
    <a class="button icon-left ion-chevron-left button-clear button-dark" ng-click="$back()">Back</a>
    <h1 class="title">{{userData.name}}</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <div class="item item-image">

        <img ng-src="{{userData.photourl}}">
      </div>
      <ion-list class="list-borderless">
        <ion-item class="item-icon-right">
          <h2 class="font-130">{{userData.name}}</h2>
          <div id="profile-markdown7" class="show-list-numbers-and-dots">

            <p><i class="ion-location"></i> {{userData.address}} </p>
          </div>

          <div id="profile-markdown36" class="show-list-numbers-and-dots" ng-if="userData.birth">
            <p style="margin-top:0px;color:#000000;font-size:12px;"><i class="ion-android-calendar"></i>
              {{calculateAge(userData.birth)}} tuổi
            </p>
          </div>

        </ion-item>
      </ion-list>
      <div class="padding animated bounceInUp">
        <span>{{userData.description}}</span>

        <hr>
        <h4>Thông tin cá nhân
        </h4>
        <span>
          Chiều cao: {{userData.height}}
          <br>
                    Cân nặng: {{userData.weight}}
                    <br>

       <button ng-if="userData.figure" class="button margin-top-5 button-outline button-small button-assertive">              Ngoại hình ưa nhìn
</button>

        </span>

        <hr>
        <div id="profile-markdown35" class="show-list-numbers-and-dots" ng-if="userData.school">
          <p style="margin-top:0px;color:#000000;font-size:12px;"><i class="ion-university"></i>
            {{userData.school}}
          </p>
        </div>
        <h4>Kinh nghiệm làm việc
        </h4>
        <span>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.
        </span>

        <hr>
        <h4>Trình độ học vấn
        </h4>
        <span>
          <div ng-if="userData.school">
          Trường: {{userData.school}}
          <br></div>
           <div ng-if="userData.languages">
          Ngoại ngữ: {{userData.school}}
          <br></div>
        </span>
        <hr>
        <h4>
          Mong muốn tìm việc
        </h4>
        <span>

        <div ng-if="userData.industry">
          Nơi làm việc mong muốn: {{userData.school}}
          <br></div>
        <div ng-if="userData.job">
          Công việc mong muốn: {{userData.school}}
          <br></div>
        <div ng-if="userData.expectSalary">
          Mức lương mong muốn: {{userData.expectSalary}}
          <br></div>
        <div ng-if="userData.time">
          Hình thức làm việc: {{userData.time}}
          <br></div>
        <div ng-if="userData.expectSalary">
          Khoảng cách di chuyển: {{userData.expectSalary}}
          <br></div>
        <div ng-if="userData.status">
          Trạng thái tìm việc: {{userData.status}}
          <br></div>
        </span>
        <hr>
        <!--</div>-->
        <h4 style="text-align: center">Tuyển ứng viên này vào vị trí
        </h4>
        <span>
          <button
            class="button margin-top-5 button-outline button-small button-assertive">I fucking love Science</button>
        <button class="button margin-top-5 button-outline button-small button-assertive">Ionic</button>
        <button class="button margin-top-5 button-outline button-small button-assertive">Meanwhile in Australia</button>
        <button class="button margin-top-5 button-outline button-small button-assertive">GaijinPot</button>
      </span>
        <hr>
      </div>
    </div>
    <p style="margin-top: 30px;">&nbsp;</p>
    <button style="margin-top: 0px; margin-bottom: 0px" ng-click="like()" class="jobo-button jobo-button-block jobo-button-calm"><i class="ion-android-checkbox-outline"></i> Ứng tuyển
    </button>
  </ion-content>

</ion-modal-view>
<!--Contact GitHub API Training Shop Blog About
© 2017 GitHub, Inc. Terms Privacy Security Status Help
<ion-modal-view>
  <ion-header-bar>
    <a class="button icon-left ion-chevron-left button-clear button-dark" ng-click="$back()">Back</a>
<h1 class="title">{{userData.name}}</h1>
  </ion-header-bar>
  <ion-content>


    <div id="profile-container5">
      <div class="list">
        <div class="item item-image">

          <img ng-src="{{userData.photourl}}">
        </div>
        <ion-list class="list-borderless">
          <ion-item>

            <div class="item item-body" id="profile-list-item-container8">
              <div id="profile-markdown7" class="show-list-numbers-and-dots">

                <p><i class="ion-location"></i> {{userData.address}} </p>
              </div>
              <div id="profile-markdown35" class="show-list-numbers-and-dots" ng-if="userData.school">
                <p style="margin-top:0px;color:#000000;font-size:12px;"><i class="ion-university"></i>
                  {{userData.school}}
                </p>
              </div>
              <div id="profile-markdown36" class="show-list-numbers-and-dots" ng-if="userData.birth">
                <p style="margin-top:0px;color:#000000;font-size:12px;"><i class="ion-android-calendar"></i>
                  {{calculateAge(userData.birth)}} tuổi
                </p>
              </div>
              <div id="profile-markdown36" class="show-list-numbers-and-dots" ng-if="userData.figure">
                <p style="margin-top:0px;color:#000000;font-size:12px;"><i class="ion-male"></i>
                  Ngoại hình ưa nhìn
                </p>
              </div>
              <div id="profile-markdown36" class="show-list-numbers-and-dots" ng-if="userData.experience">
                <p style="margin-top:0px;color:#000000;font-size:12px;"><i class="ion-ribbon-a"></i>
                  Đã có kinh nghiệm
                </p>
              </div>
            </div>
      </div>
    </div>
    <div class="list card" id="profile-card23" style="
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 20px;
" ng-if="userData.jobhistory">
      <ion-item class="item-icon-left" id="profile-list-item15">
        <i class="icon ion-briefcase"></i>Kinh nghiệm làm việc
      </ion-item>

      <div class="item item-body" id="profile-list-item-container9" ng-repeat="job in userData.jobhistory">
        <div class="row">
          <div class="col col-75">
            <div id="profile-markdown8">
              <p style="margin-top:0px;color:#000000;">
                <strong ng-repeat="(key,value) in job.title">{{dataJob[key]}},</strong> - {{job.company}}</p>

              <button id="profile-button5" style="border-radius:0px 0px 0px 0px;"
                      class="button button-positive button-small button-outline">{{industry[job.industry]}}
              </button>
            </div>
          </div>
          <div class="col">
            <p style="margin-top:0px;color:#000000;">
              {{calculatemonth(job.monthstart)}} - {{calculatemonth(job.monthend)}}</p>
          </div>
        </div>
      </div>
    </div>

    <div ng-if="userData.videourl && userData.stars[userid]" class="list card" id="profile-card27" style="
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 20px;
">
      <ion-item class="item-icon-left" id="profile-list-item21">
        <i class="icon ion-ios-videocam"></i>Video giới thiệu

      </ion-item>
      <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="profile-video1">
        <iframe class="youtube-player" type="text/html" ng-src="{{trustSrc(usercurent.videourl)}}" allowfullscreen
                autoplay="false"
                frameborder="0">
        </iframe>
      </div>
    </div>

    <div ng-if="userData.job" class="list card" id="profile-card29" style="
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 20px;
">
      <ion-item class="item-icon-left" id="profile-list-item23">
        <i class="icon ion-ios-briefcase"></i>Sở thích công việc

      </ion-item>
      <div class="item item-body" id="profile-list-item-container21" >
        <label ng-repeat="(key,value) in userData.job">
          <button class="button margin-top-5 button-outline button-small button-positive">{{dataJob[key]}}</button>
        </label>

      </div>
    </div>
    <div ng-if="userData.shift" class="list card" id="profile-card29" style="
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 20px;
">
      <ion-item class="item-icon-left " id="profile-list-item23">
        <i class="icon ion-ios-timer"></i>Thời gian phù hợp

      </ion-item>
      <div class="item item-body" id="profile-list-item-container21" >

        <label ng-repeat="(key,value) in userData.shift">
          <button class="button margin-top-5 button-outline button-small button-positive">{{time[key]}}</button>
        </label>

      </div>
    </div>
    <div ng-if="userData.distance" class="list card" id="profile-card29" style="
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 20px;
">
      <ion-item class="item-icon-left " id="profile-list-item23">
        <i class="icon ion-android-bicycle"></i>Khoảng cách di chuyển: {{userData.distance}} km

      </ion-item>
    </div>
    <div style="height: 250px"></div>
  </ion-content>
  <div class="ptinder-buttons" ng-if="!usercurent.stars[userid]">
    <div id="profile2-button-bar9" class="button-bar">
      <button id="profile2-button61" class="button button-positive  button-block icon ion-android-checkbox-outline"> Tuyển ứng viên</button>
      <button id="profile2-button62" class="button button-dark  button-block">Ẩn</button>
    </div>
  </div>
</ion-modal-view>-->
