<ion-modal-view ng-init="init()">
  <ion-content>
    <i class="back-buttonk ion-chevron-left" ng-click="$back()"
       style="width: 30px;height: 30px;color: white;border-radius: 50em;background-color: #cccccc;font-size: 20px;
              padding-right: 9px;padding-left: 8px;position: absolute;left: 3px;opacity: 0.7;
              margin-top:14px;margin-left:25px;"></i>
    <div class="list">
      <ks-swiper-container initial-slide="0" pagination-is-active="true" pagination-cls="color-red" loop="false"
                           show-nav-buttons="false" parallax="true" slides-per-view="1" space-between="0"
                           pagination-clickable="false" swiper="swiper" on-ready="onReadySwiper(swiper)"
                           on-touch="onReadySwiper(swiper)">
        <ks-swiper-slide class="swiper-slide" ng-repeat="photo in profileData.photo">
          <img ng-src="{{photo || 'img/macdinh.jpg'}}" class="swiper-images">
        </ks-swiper-slide>
      </ks-swiper-container>
      <ion-list class="list-borderless">
        <ion-item class="item-icon-right">
          <h2 class="font-130">{{profileData.name}}</h2>
          <div class="aggregate-rating" ng-if="reviewData">
            <span>{{ratingModel.average}}</span>/5
            (<span>{{ratingModel.total}}</span> Reviews)
          </div>
          <p>
          <ul style="list-style-type: none;padding-left: 0px;">
            <li>
              <i class="ion-location"></i> {{service.shortAddress(profileData.address)}}
            </li>
            <li ng-show="profileData.birth">
              <i class="ion-pin"></i> {{profileData.birth | date: 'y'}}
            </li>
            <li ng-show="profileData.sex">
              <i class="ion-person"></i> {{profileData.sex}}
            </li>
            <li ng-show="profileData.figure || profileData.height || profileData.weight ">
              <i class="ion-heart"></i> <span ng-show="profileData.figure"> Ngoại hình khá -</span>
              {{profileData.height ? profileData.height + ' cm - ':''}} {{profileData.weight ?
              profileData.weight + ' kg':''}}
            </li>

          </ul>
          </p>

        </ion-item>
      </ion-list>
      <div class="padding animated bounceInUp">
        <div style="padding-bottom: 10px;
"><span ng-repeat="text in service.nextLine(profileData.description) track by $index">{{text}}<br></span>
        </div>

        <div class="hobby" ng-show="profileData.school || profileData.languages">
          <h3><i class="ion-university"></i> Trình độ học vấn
          </h3>

          <ul style="list-style-type: none;padding-left: 0px;">

            <li ng-show="profileData.school"><strong>Trường:</strong> {{profileData.school}}

            </li>
            <li ng-show="profileData.languages"><strong>Ngoại ngữ:</strong>
              <span ng-repeat="(key,value) in profileData.languages">{{Lang[key]}}</span>
            </li>
          </ul>

        </div>
        <div class="hobby" ng-show="profileData.experience">
          <h3><i class="ion-briefcase"></i> Kinh nghiệm làm việc
          </h3>

          <ul>
            <li ng-repeat="card in profileData.experience">
              <div class="row">
                <div class="col-xs-12 col-sm-3">
                  <p>{{card.start | date : "MM/y"}}
                    <i class="fa fa-level-down"></i><br>
                    {{card.end == true ? 'Đến nay': card.end | date : "MM/y"}}
                  </p>
                </div>
                <div class="col-xs-12 col-sm-9" style="margin-left: 20px;">
                  <h4 style="margin-top: 0px">{{card.company}}</h4>
                  <p>{{Lang[card.job]}}</p>
                </div>
              </div>
            </li>
          </ul>

        </div>

        <div class="hobby">
          <h3><i class="ion-heart"></i> Mong muốn</h3>
          <div ng-if="profileData.job" style="margin: 5px 0"><strong>Vị trí:</strong>
            <span ng-repeat="(key,value) in profileData.job">{{Lang[key]}}, </span></div>
          <div ng-if="profileData.industry" style="margin: 5px 0"><strong>Lĩnh vực:</strong>
            <span ng-repeat="(key,value) in profileData.industry">{{Lang[key]}}, </span></div>
          <div ng-if="profileData.working_type" style="margin: 5px 0"><strong>Hình thức:</strong>
            {{Lang[profileData.working_type]}}
          </div>
          <div ng-if="profileData.time" style="margin: 5px 0"><strong>Thời gian sẵn sàng:</strong>
            <span ng-repeat="(key,value) in profileData.time">{{Lang[key]}}, </span></div>
          <div ng-if="profileData.expect_salary" style="margin: 5px 0"><strong>Mức lương mong
            muốn:</strong>
            {{profileData.expect_salary + ' triệu đồng/tháng'}}
          </div>

          <div ng-if="profileData.expect_distance" style="margin: 5px 0">Đi lại trong bán kính
            <strong> {{profileData.expect_distance}} km</strong>

          </div>
        </div>
        </span>
        <hr>
      </div>
    </div>

  </ion-content>
  <ion-footer-bar style="padding: 0">
    <div class="post-meta" style="width: 100%;display: flex" ng-show="jobOffer[profileData.userId]">
      <button ng-click="like(profileData,0,key)"
              type="button"
              class="button button-outline button-small button-assertive" style="border-radius: 0; margin: 5px"
              ng-repeat="(key,value) in storeData.job">{{Lang[key]}}
      </button>
    </div>
    <div style="width: 100%;display: flex">

      <button ng-click="service.chatToUser(profileData.userId)"
              type="button"
              class="jobo-button jobo-button-block button-vip" style="width:100%">Liên hệ
      </button>

      <button ng-click="jobOffer[profileData.userId] = true"
              ng-if="profileData.act.status == 0 && profileData.act.type == 2"
              ng-hide="jobOffer[profileData.userId]"
              type="button"
              class="button button-balanced" style="width:100%;">Chọn ứng viên này
      </button>


      <button ng-disabled="profileData.act.status == 0 && profileData.act.type == 1"
              type="button" ng-if="profileData.act.status == 0 && profileData.act.type == 1"
              class="button button-energized" style="width:100%">Đang chờ phản hồi...
      </button>
      <button ng-click="jobOffer[profileData.userId] = true"
              ng-hide="myself || profileData.act || type == 0 || jobOffer[profileData.userId]"
              type="button"
              class="jobo-button jobo-button-block jobo-button-calm" style="color: white;">
        <i class="fa fa-thumbs-up"></i>Tuyển ứng viên
      </button>
      <button ui-sref="profile ({id:'update'})"
              ng-if="myself" type="button"
              class="jobo-button jobo-button-block jobo-button-calm" style="color: white;">
        Sửa hồ sơ
      </button>
      <button ui-sref="intro"
              ng-if="type == 0" type="button"
              class="jobo-button jobo-button-block jobo-button-calm" style="color: white;">
        Tuyển và liên hệ
      </button>
    </div>
  </ion-footer-bar>
</ion-modal-view>
