<div class="item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input force-lower-case type="text" class="bold" ng-model="autocompleteAddress.text" placeholder="Vd: 51 Hàng Khay" ng-change="searchAddress()">
  </label>
</div>

<label class="checkbox-inline" ng-repeat="ketqua in ketquasAddress | limitTo:3 ">
  <ion-list class="list-borderless">
    <ion-radio ng-value="ketqua" ng-click="setSelectedAddress(ketqua)">{{ketqua.formatted_address}}
    </ion-radio>
  </ion-list>
</label>
