<ion-modal-view ng-init="init()">
  <ion-content>
    <i class="back-buttonk ion-chevron-left" ng-click="$back()"
       style="width: 30px;height: 30px;color: white;border-radius: 50em;background-color: #cccccc;font-size: 20px;
              padding-right: 9px;padding-left: 8px;position: absolute;left: 3px;clear: both; opacity: 0.7;
              margin-top:14px;margin-left:25px;"></i>
    <div class="list">
      <div class="item item-image">
        <img style="position: relative" ng-src="{{profileData.avatar || '/img/ava-background/ava_'+ card.industry +'.png'}}">
      </div>
      <ion-list class="list-borderless">
        <ion-item class="item-icon-right">
          <h2 class="font-130">{{profileData.storeName}}</h2>
          <div class="aggregate-rating" ng-if="reviewData">
            <span>{{ratingModel.average}}</span>/5
            (<span>{{ratingModel.total}}</span> Reviews)
          </div>
          <p>{{Lang[profileData.industry]}}</p>
          <h6 class="tagline">{{service.shortAddress(profileData.address)}}</h6>
        </ion-item>
      </ion-list>
      <div class="padding animated bounceInUp">
        <div ng-if="profileData.description">
          <span ng-if="profileData.description"
             ng-repeat="text in service.nextLine(profileData.description) track by $index ">{{text}}<br></span>
        </div>
        <hr>

        <div ng-if="profileData.job">
          <h4>
            Vị trí đang tuyển
          </h4>
          <div ng-repeat="card in profileData.job | orderBy: '-deadline'">
            <div class="card content content-main js-job-container">
              <div class="content-section job-header">
                <div class="job-header-details job-header-truncate"><h3
                  class="job-title ng-binding">{{Lang[card.job]}}</h3>
                  <p class="beicons-pre beicons-pre-location job-location ng-binding">
                    {{Lang[card.working_type]}}
                  </p>
                </div>
              </div>

              <div class="content-section job-description-container">
                <div class="js-job-description">
                  <div class="job-description">
                    <p ng-if="card.description"
                       ng-repeat="text in service.nextLine(card.description) track by $index">{{text}}</p>
                    <p ng-if="card.salary">• Mức lương: {{card.salary ? card.salary + ' triệu đồng' : ' thỏa thuận'}}</p>
                    <p ng-if="card.createdAt">• Ngày đăng: {{card.createdAt | date}}</p>
                    <p ng-if="card.unit">• Số lượng: {{card.unit}}</p>
                    <p ng-if="card.apply">• Đã ứng tuyển: {{card.apply}}</p>
                    <p ng-if="card.viewed">• Lượt xem: {{card.viewed}}</p>
                    <p ng-if="card.deadline">• Hạn chót: {{card.deadline |
                      date}} ({{service.timeAgo(card.deadline)}}) </p>
                    <p ng-if="card.figure || card.experience || card.languages"><em>Yêu cầu khác:</em></p>
                    <p ng-if="card.figure">• {{card.figure ? 'Yêu cầu ngoại hình khá':'Không yêu cầu ngoại hình'}}</p>
                    <p ng-if="card.experience">• {{card.experience ? 'Đã có kinh nghiệm':'Không yêu cầu kinh nghiệm'}}</p>
                    <p ng-if="card.languages">• Ngoại ngữ:
                    <div ng-repeat="(key,value) in card.languages">
                      {{Lang[key]}}
                    </div>
                    </p>

                  </div>

                </div> <!-- .content-section -->
              </div> <!-- .content-main -->
              <div>
                <div ng-hide="card.deadline < today">
                  <button ng-click="service.chatToStore[profileData.storeId]"
                          type="button" ng-if="profileData.act.status == 1"
                          class="jobo-button jobo-button-block button-vip">Liên hệ
                  </button>
                  <button ng-disabled="!card" ng-click="like(profileData,0,card.job)"
                          type="button"
                          ng-if="profileData.act.status == 0 && profileData.act.jobStore[card.job]"
                          class="jobo-button jobo-button-block button-positive">Chấp nhận công việc
                  </button>
                  <button type="button"
                          ng-if="profileData.act.status == 0 && profileData.act.jobUser[card.job]"
                          class="jobo-button jobo-button-block button-energized">Đang chờ phản hồi...
                  </button>
                  <button ng-click="service.userLike(profileData,0,card.job)"
                          ng-hide="profileData.act.jobUser[card.job] || myself"
                          type="button"
                          class="jobo-button jobo-button-block jobo-button-calm">Ứng tuyển
                  </button>
                </div>
                <div ng-if="card.deadline < today">
                  <button type="button"
                          ng-if="card.deadline < today"
                          style="background:linear-gradient(left,#e60000,#ff1a1a,#ff3333);color: white;
                                 background: -webkit-linear-gradient(left,#e60000,#ff1a1a,#ff3333);
                                 background: -o-linear-gradient(left,#e60000,#ff1a1a,#ff3333);
                                 background: -moz-linear-gradient(left,#e60000,#ff1a1a,#ff3333);"
                          class="jobo-button jobo-button-block">Hết hạn ứng tuyển
                  </button>
                </div>
                <button ui-sref="store ({id:'job'})"
                        ng-show="myself"
                        type="button"
                        class="jobo-button jobo-button-block">Sửa thông tin
                </button>
                <!--<button ng-click="service.shareJob('',profileData.avatar,'http://web.joboapp.com/view/store/'+ profileData.storeId)" class="jobo-button jobo-button-block button-primary"-->
                        <!--style="width: 50%; margin: 0">-->
                  <!--Chia sẻ-->
                <!--</button>-->
              </div>
            </div>
          </div>

          <hr>
        </div>
        <div ng-if="!profileData.job">
          <h4>
            Hiện tại chúng tôi đang không tuyển
          </h4>

          <hr>
        </div>

      </div>
    </div>
    <p style="margin-top: 30px;">&nbsp;</p>
  </ion-content>
</ion-modal-view>


