
<ion-view view-title="Dashboard" hide-nav-bar="true" ng-init="init()" style="background-color: #F2F4F8">
  <ion-header-bar align-title="left" class="bar-light">

    <h1 class="title" ng-click="editjob()">{{Lang[newfilter.job] || 'Khám phá'}}
    </h1>
    <button class="button button-outline button-small" ui-sref="jobseeker.dash">
      Công việc
    </button>


  </ion-header-bar>

  <ion-content scroll="false">
    <div ng-hide="storeCard.length > 0" style="align-content: center">
      <p style="    margin: 20px;
    text-align: center;
    padding-top: 50px;
" class="ng-binding">Hãy bắt đầu chọn công việc đang tuyển phù hợp xung quanh bạn</p>
      <div class="padding">
        <button ui-sref="jobseeker.dash" class="jobo-button jobo-button-block jobo-button-calm">
          Bạn cần tìm việc gì?
        </button>
      </div>
    </div>

    <ks-swiper-container swiper="swiper" on-ready="onReadySwiper(swiper)" on-touch="onTouch(swiper)">
      <ks-swiper-slide class="swiper-slide" ng-repeat="card in storeCard">
        <div class="card">
          <a href="#/view/store/{{card.storeId}}">
            <img ng-src="{{card.avatar || '/img/ava-background/ava_'+ card.industry +'.png'}}" style="width: 100%; height: 250px">
          </a>


          <div class="item jobseeker-card">
            <i class="ion-flash color-coral font-150 pull-right" ng-if="card.act.status == 0 && card.act.type == 2"></i>
            <h3 class="title">{{card.storeName || 'Your Name Here'}} <span class="ion-record color-green"
                                                                           style="font-size: xx-small"
                                                                           ng-if="card.presence.status == 'online'"></span>
            </h3>
            <p>
              <span ng-repeat="(key,value) in card.job">{{Lang[key]}}, </span>
            </p>
            <p>
              {{card.distance}} km</p>
          </div>
        </div>

      </ks-swiper-slide>
    </ks-swiper-container>

  </ion-content>
</ion-view>
