<ion-view title="Khám phá" id="page9" style="background-color:#F2F4F8;" hide-nav-bar="true" ng-init="init()">
  <ion-header-bar align-title="left" class="bar-light">

    <h1 class="title" ng-click="editjob()">{{Lang[newfilter.job] || 'Khám phá'}}
    </h1>
    <button class="button button-outline button-small" ui-sref="jobseeker.job">
      Thương hiệu
    </button>


  </ion-header-bar>

  <ion-content padding="false" class="has-header">
    <ks-swiper-container swiper="swiper" on-ready="onReadySwiper(swiper)" on-touch="onTouch(swiper)"
                         ng-show="swiper"
                         on-release="onRelease(swiper)">
      <ks-swiper-slide class="swiper-slide" ng-repeat="card in jobCard">

        <div class="card" style="border-radius: 1em;height: {{deviceHeight - 180}}px;">
          <div class="content" style="padding: 2em;height:{{deviceHeight - 280}}px;">
            <a href="#/view/store/{{card.storeId}}" class="item-profile">
              <div class="row">
                <img ng-src="{{card.avatar || 'img/store.png'}}" class="img-round" style="width: 103px;height:103px;border-radius: 50em;margin-left: initial;">
                <img style="margin-left: auto;height: 118px;"
                     ng-src="{{((card.job == 'server')||card.job == 'bartender'||card.job == 'cook'
  ||card.job == 'sale' ||card.job == 'receptionist_cashier' || card.job =='financing_accounting'
  ||card.job =='designer' ||card.job=='manager'||card.job=='marketing_pr' ) ? 'img/'+card.job +'.png' : ''}}" width="auto">
              </div>
              <h2 class="title" style="color:#ffdd69;margin-top: -16px;"><i class="color-coral" ng-if="card.act.status == 0 && card.act.type == 2"></i>
                {{Lang[card.job]}}
              </h2>
              <h5 ng-if="card.working_type" style="color:black">
                <!--<i class="ion-clock"></i>-->
                <b>{{Lang[card.working_type]}}</b></h5>
              <p ng-if="card.salary" style="color:gray">{{card.salary ? card.salary + ' triệu' : ' thỏa thuận'}}</p>
              <br>
              <p style="font-size: 15px;color:gray;
                        display: block;display: -webkit-box;max-width: 388px;margin: 0 auto;
                        line-height: 1.4;-webkit-line-clamp:5;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;">{{card.description}}</p>
              <!--<div ng-if="card.description"-->
              <!---->
              <!--ng-repeat="text in service.nextLine(card.description) track by $index">{{text}}</div>-->
              <div style="font-size: 15px;color:gray;">
                <p style="display: block;display: -webkit-box;max-width: 388px;margin: 0 auto;
                                    line-height: 1.4;-webkit-line-clamp:4;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;">
                  {{card.description}}
                </p>
                <p ng-if="card.createdAt">• Ngày đăng: {{card.createdAt | date}}</p>
                <p ng-if="card.unit">• Số lượng: {{card.unit}}</p>
                <p ng-if="card.apply">• Đã ứng tuyển: {{card.apply}}</p>
                <p ng-if="card.viewed">• Lượt xem: {{card.viewed}}</p>
                <p ng-if="card.deadline">• Hạn chót: {{card.deadline |
                  date}} ({{service.timeAgo(card.deadline)}}) </p>
                <p ng-if="card.figure || card.experience || card.languages"><em>Yêu cầu khác:</em></p>
                <p ng-if="card.figure">• {{card.figure ? 'Yêu cầu ngoại hình khá':'Không yêu cầu ngoại hình'}}</p>
                <p ng-if="card.experience">• {{card.experience ? 'Đã có kinh nghiệm':'Không yêu cầu kinh nghiệm'}}</p>
                <p ng-if="card.languages">• Ngoại ngữ:
                <div ng-repeat="(key,value) in card.languages">
                {{Lang[key]}}
              </div>
              </div>
            </a>
          </div>
          <div class="item job-card"
               style="padding-right: 2em;padding-left:2em;background-color: #f7f8fa; height:{{deviceHeight - 560}}px">
            <h2><b>{{card.storeName || 'Your Store Name'}}</b></h2>
            <p style="font-style: italic;font-size: 15px;">{{card.address}}</p>
            <p style="font-style: italic;font-size: 15px;">{{card.distance ? +card.distance + ' km':''}}</p>
          </div>
        </div>

      </ks-swiper-slide>
    </ks-swiper-container>
    <div ng-hide="swiper" style="align-content: center">
      <p style="    margin: 20px;text-align: center;padding-top: 50px;"
         class="ng-binding">Hãy tìm và ứng tuyển vào công việc bạn muốn</p>

      <div class="padding">
        <button ng-click="editjob()" class="button button-outline button-calm button-block">
          Lọc công việc
        </button>
      </div>
    </div>

    <div class="tinder-buttons2" ng-show="swiper"
         ng-show="jobCard[swiper.activeIndex].act.jobUser[jobCard[swiper.activeIndex].job] || jobCard[swiper.activeIndex].act.jobStore[jobCard[swiper.activeIndex].job]">
      <button ng-click="service.chatToStore(jobCard[swiper.activeIndex].storeId)"
              type="button" ng-if="jobCard[swiper.activeIndex].act.status == 1"
              class="jobo-button jobo-button-block button-vip">Liên hệ
      </button>
      <button ng-disabled="!jobCard[swiper.activeIndex]"
              ng-click="like(jobCard[swiper.activeIndex],0,jobCard[swiper.activeIndex].job)"
              type="button"
              ng-if="jobCard[swiper.activeIndex].act.status == 0 && jobCard[swiper.activeIndex].act.type == 1 && jobCard[swiper.activeIndex].act.jobStore[jobCard[swiper.activeIndex].job]"
              class="button button-full button-positive">Chấp nhận công việc
      </button>
      <button type="button"
              ng-if="jobCard[swiper.activeIndex].act.status == 0 && jobCard[swiper.activeIndex].act.jobUser[jobCard[swiper.activeIndex].job]"
              class="jobo-button jobo-button-block button-energized">Đang chờ phản hồi...
      </button>
      <button
        ng-click="like(jobCard[swiper.activeIndex],0,jobCard[swiper.activeIndex].job)"
        ng-hide="jobCard[swiper.activeIndex].act.jobUser[jobCard[swiper.activeIndex].job] || jobCard[swiper.activeIndex].act.jobStore[jobCard[swiper.activeIndex].job]"
        type="button"
        class="jobo-button jobo-button-block jobo-button-calm"
      >Ứng tuyển
      </button>
    </div>
  </ion-content>
</ion-view>
