<ion-view view-title="Dashboard" hide-nav-bar="true" ng-init="init()">
  <ion-content scroll="false">
    <div class="bar" style="border: hidden">
      <button class="button button-outline icon-left ion-android-options button-balanced" ng-click="filterSearch()">Lọc
      </button>
    </div>
    <div ng-if="storeCard.length == 0">
      <p style="    margin: 20px;
    text-align: center;
    padding-top: 50px;
" class="ng-binding"
      > Không có ứng viên nào đạt yêu cầu của bạn, hãy thay đổi bộ lọc tìm kiếm hoặc chỉ tìm những ứng viên xung
        quanh và không quan trọng vị trí</p>
      <div class="padding">
        <button ng-click="filterSearch()" class="jobo-button jobo-button-block jobo-button-calm">Tìm ứng viên xung
          quanh
        </button>
      </div>
    </div>
    <div ng-if="!newfilter" style="align-content: center">
      <p style="    margin: 20px;
    text-align: center;
    padding-top: 50px;
" class="ng-binding"
      > Hãy bắt đầu lọc hồ sơ các ứng viên và tìm ra người phù hợp cho yêu cầu của bạn</p>
      <div class="padding">
        <button ng-click="filterSearch()" class="button button-outline button-positive button-block">
          Lọc công việc
        </button>
      </div>
    </div>

    <ks-swiper-container swiper="swiper" on-ready="onReadySwiper(swiper)" on-touch="ontouch(swiper)">
      <ks-swiper-slide class="swiper-slide" ng-repeat="card in storeCard">

        <div class="list card td-card" id="page2-card26">
          <div id="page2-container11">
            <div style="
    height: 250px;
">
              <a href="#/viewstore/{{card.storeId}}"><img src="{{ card.photourl }}" style="width: 100%"></a>
            </div>
          </div>
          <div ng-show="card.likeMe" class="padding animated bounceInUp">
            <i class="icon ion-heart" style="color: #ee5555;"></i>
          </div>
          <ion-item class="item-icon-right" id="page2-list-item33">
            <h2>{{card.storeName}}</h2>
              <p><i class="ion-location"></i> {{ card.distance }} km</p>

          </ion-item>
          <div class="padding" ng-if="card.job">
            <label ng-repeat="(key,value) in card.job">
              <button ng-click="applyThis(card.storeId,key)"
                class="button margin-top-5 button-outline button-small {{selectedJob[card.storeId][key] ? 'button-positive' : 'button-outline' }}" >{{dataJob[key]}}
              </button>
            </label>
          </div>
        </div>
        <div class="padding">
          <div id="profile2-button-bar9" class="button-bar">
            <button ng-click="like(card,0)" id="profile2-button61"
                    class="button button-positive  button-block icon ion-android-checkbox-outline"> Tuyển ứng viên
            </button>
            <button ng-click="like(card,-1)" id="profile2-button62" class="button button-dark  button-block">Ẩn</button>
          </div>
        </div>
        <p class="animated fadeInUp" style="text-align: center;background: -webkit-linear-gradient(#1FBDF1 , #39DFA5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;" ng-if="userliked[card.userid]">Bạn đã ứng tuyển công việc này!</p>
        <p class="animated fadeInUp" style="text-align: center" ng-if="userdisliked[card.userid]">Bạn đã không thích
          công việc này!</p>

      </ks-swiper-slide>
    </ks-swiper-container>

  </ion-content>
</ion-view>
