  <ion-view title="Danh sách tương tác" id="page9" style="background-color:#FFFFFF;" hide-nav-bar="true">
    <ion-header-bar align-title="center" class="bar-light">

      <h1 class="title">Danh sách tương tác
      </h1>

    </ion-header-bar>
  <ion-content class="has-header" scroll="true">
    <div>
      <div class="item item-divider">
        Đã tương hợp
      </div>
      <div class="callout padding text-muted text-center" ng-show="reactList.match.length == 0">
        <small><b>Bạn chưa tương hợp với nhà tuyển dụng nào</b>
        </small>
      </div>
      <ion-list id="match-list32" ng-repeat="card in reactList.match">
        <ion-item class="item-thumbnail-left item-icon-right" ng-click="service.chatToStore(card.storeId)">
          <img src="{{card.storeAvatar || 'img/store.png'}}">
          <h2>{{card.storeName}} <span class="ion-record color-green" style="font-size: xx-small" ng-if="card.presence == 'online'"></span>
          </h2>
          <small ng-hide="card.jobStore" class="text-muted">Đang cần tuyển gấp</small>
          <small class="text-muted" ng-repeat="(key,value) in card.jobStore" ng-show="card.jobStore">
            {{Lang[key]}}
          </small>
          <br>

          <small><b>{{service.timeAgo(card.matchAt || card.createdAt)}}</b></small>
        </ion-item>
      </ion-list>
    </div>
    <div>
      <div class="item item-divider">
        Đang muốn tuyển bạn
      </div>
      <div class="callout padding text-muted text-center" ng-show="reactList.liked.length == 0">
        <small><b>Bạn chưa được nhà tuyển dụng nào tuyển</b>
        </small>
      </div>
      <ion-list id="match-list32" ng-repeat="card in reactList.liked">
        <ion-item class="item-thumbnail-left item-icon-right" href="#/view/store/{{card.storeId}}">
          <img src="{{card.storeAvatar || 'img/store.png'}}">
          <h2>{{card.storeName}} <span class="ion-record color-green" style="font-size: xx-small"
                                      ng-if="card.presence == 'online'"></span>
          </h2>
          <small ng-hide="card.jobUser" class="text-muted">Công việc bất kỳ</small>
          <small class="text-muted" ng-repeat="(key,value) in card.jobStore" ng-show="card.jobStore">
            {{Lang[key]}}
          </small>
          <br>
          <small><b>{{service.timeAgo(card.likeAt || card.createdAt)}}</b></small>
        </ion-item>
      </ion-list>
    </div>
    <div>
      <div class="item item-divider">
        Đã ứng tuyển
      </div>
      <div class="callout padding text-muted text-center" ng-show="reactList.like.length == 0">
        <small><b>Bạn chưa ứng tuyển vào công việc nào, hãy chủ động tìm việc!</b>
        </small>
      </div>
      <ion-list id="match-list32" ng-repeat="card in reactList.like">
        <ion-item class="item-thumbnail-left item-icon-right" href="#/view/store/{{card.storeId}}">
          <img src="{{card.storeAvatar || 'img/store.png'}}">
          <h2>{{card.storeName}} <span class="ion-record color-green" style="font-size: xx-small"
                                      ng-if="card.presence == 'online'"></span>
          </h2>
          <small ng-hide="card.jobUser" class="text-muted">công việc bất kỳ</small>
          <small class="text-muted" ng-repeat="(key,value) in card.jobUser" ng-show="card.jobUser">
            {{Lang[key]}}
          </small>
          <br>
          <small><b>{{service.timeAgo(card.likeAt || card.createdAt)}}</b></small>
        </ion-item>
      </ion-list>
    </div>
    <div>
      <div class="item item-divider">
        Đang cần tuyển gấp
      </div>
      <div class="callout padding text-muted text-center" ng-show="onlineList.length == 0">
        <small><b>Không có công việc nào</b>
        </small>
      </div>
      <ion-list id="match-list32" ng-repeat="card in onlineList">
        <ion-item class="item-thumbnail-left item-icon-right" href="#/view/store/{{card.storeId}}">
          <img src="{{card.avatar || 'img/store.png'}}">
          <h2>{{card.storeName || 'Your Store Here'}} <span class="ion-record color-green" style="font-size: xx-small"
                                                      ng-if="card.presence.status == 'online'"></span>
          </h2>
          <small ng-hide="card.job" class="text-muted">công việc bất kỳ</small>
          <small class="text-muted" ng-repeat="(key,value) in card.job" ng-show="card.job">
            {{Lang[key]}}
          </small>
          <br>
          <small><b>{{service.timeAgo(card.presence.at)}}</b></small>
        </ion-item>
      </ion-list>
    </div>
    <div>
      <div class="item item-divider">
        Nhân viên hỗ trợ
      </div>
      <ion-list id="match-list32">
        <ion-item class="item-avatar item-icon-right dark" id="activity-list-item9" ng-click="service.openSupportPopover($event)">
          <img src="{{support.avatar || 'img/macdinh.jpg'}}">


          <h2dark>Thùy Thùy - Nhân viên hỗ trợ <span class="ion-record color-green" style="font-size: xx-small"></span>
          </h2dark>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>

</ion-view>

